* {
	margin: 0;
	padding: 0;
}

a {
	color: initial;
}

li {
	margin-left: 30px;
}

.headbar {
	width: 100%;
	height: 45px;
	overflow: auto;
	background-color: #e1d7ff;
}

.headbar h1 {
	float: left;
	line-height: 45px;
	text-align: left;
	margin-left: 15px;
}

.headbar nav {
	position: absolute;
	right: 0;
	margin-left: auto;
}

.headbar nav a {
	display: inline-block;
	line-height: 45px;
	margin-right: 15px;
}

.center_container {
	width: 100%;
}

.center_item {
	width: 100%;
	max-width: 600px;

	min-height: 60px;
	margin: 15px auto;

	padding: 10px;
}

.center_shaded {
	border: solid 1px mediumpurple;
	background-color: aliceblue;
}

.center_impact {
	border: solid 1px maroon;
	box-shadow: 0px 0px 5px indianred;
	background-color: aliceblue;
}

#bot-messages-scroll {
	height: 200px;
	overflow-y: scroll;
	background-color: #f0f0f0;
}

#bot-messages {
	postition: absolute;
	bottom: 0;
}