@import models._

@(section : ForumSection)

@main("Forum") {

    @if(section != null) {

        <div class="center_container">
            <h1 class="center_item center_shaded">@section.name</h1>

            @if(section.childSections != null && !section.childSections.isEmpty){

                <div class="center_item center_shaded">
                    <h3>Child Sections:</h3>
                @for(subsection : ForumSection <- section.childSections) {
                        <a href="/forum/section/@subsection.id">
                            @subsection.name</a>
                }
                </div>

            }

            @if(!section.preventPosts) {
                <div class="center_item center_shaded">
                    <h3>Posts:</h3>
                    <ul>
                    @for(subpost: ForumPost <- section.childPosts) {
                        <li><a href="/forum/post/@subpost.id">
                        @subpost.name</a>
                        </li>
                    }
                    </ul>
                </div>
            }
        </div>
    } else {
        <ul>
            @for(section : ForumSection <- ForumSection.finder.findList()) {
                <li>@section.name</li>
            }
        </ul>
    }
}