@import models._

@(section : ForumSection)

@main("Forum") {

    @if(section != null) {

        <div class="center_container">
            <h1 class="center_item center_shaded">@section.name</h1>

            @for(subsection : ForumSection <- section.childSections) {
                <div class="center_item center_shaded">
                    <a href="/forum-section/@subsection.id">
                        @subsection.name</a>
                </div>
            }

            <ul>
            @for(subpost : ForumPost <- section.childPosts) {
                <li>@subpost.name</li>
            }
            </ul>
        </div>
    } else {
        <ul>
            @for(section : ForumSection <- ForumSection.finder.findList()) {
                <li>@section.name</li>
            }
        </ul>
    }
}